.team-members-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.team-members-title-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 75px;
    background-color: #fff;
    z-index: 1;
}

.team-members-modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.team-members-modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: unset;
    transform: translate(5px, 29px);
    aspect-ratio: 2 / 1;
    border-radius: 10px;
}

.team-members-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-start;
}

.team-members-modal-close:hover,
.team-members-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.team-members-title {
    font-size: 40px;
}

.team-members-info-button {
    height: 50px;
    width: 50px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 100%;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 1);
}

.team-members-info-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(38, 74, 150, 1);
    transition: .3s ease-in-out;
}

.team-members-info-button:active {
    transform: scale(0.90);
}

.team-members-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.team-members-button-1{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    width: 45%;
    height: 46px;
    transition: .3s ease-in-out;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 1);
}

.team-members-button-1:hover {
    color: rgba(38, 74, 150, 1);
    border: 1px solid rgba(38, 74, 150, 1);
}

.team-members-button-1:hover:active {
    transform: scale(90%);
    transition: .3s ease-in-out;
}

.team-members-button-2{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    width: 45%;
    height: 46px;
    transition: .3s ease-in-out;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 1);
}

.team-members-button-2:hover {
    color: rgba(38, 74, 150, 1);
    border: 1px solid rgba(38, 74, 150, 1);
}

.team-members-button-2:hover:active {
    transform: scale(90%);
    transition: .3s ease-in-out;
}

.team-members-label-input-container {
    margin: 10px !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
}

.team-members-label {
    grid-area: 1 / 1 / 2 / 2;
    text-decoration: none;
    margin: 0px;
    margin-right: 20px;
    padding: 2px;
}

.team-members-input {
    grid-area: 1 / 2 / 2 / 5;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.team-members-label-1 {
    grid-area: 1 / 1 / 2 / 2;
    text-decoration: none;
    margin: 0px;
    margin-right: 20px;
    padding: 2px;
}

.team-members-input-1 {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.team-members-label-2 {
    grid-area: 1 / 3 / 2 / 4;
    text-decoration: none;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    display: flex;
}

.team-members-input-2 {
    grid-area: 1 / 4 / 2 / 5;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

#toFrozen:target {
    position: sticky;
    top: 130px;
    background: white;
    z-index: 1;
}